body {
  font-family: 'Noto Sans JP', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.hero {
  width: 100%;
  background: url(../images/shoe-3.png), radial-gradient(#444, #111);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero .container {
  padding: 240px 0px;
}

.hero .title {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.5rem;
  color: white;
}

@media (max-width: 1000px) {
  .hero .title {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .hero .title {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (max-width: 514px) {
  .hero .title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.hero .slogan {
  margin-top: 2.5rem;
  color: white;
  font-size: .85rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.btn {
  display: inline-block;
  background-color: #faa700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  color: white;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: .85rem;
  border-radius: 4px;
  -webkit-transition: opacity 250ms 0s ease-in-out, -webkit-transform 250ms 0s ease-in-out;
  transition: opacity 250ms 0s ease-in-out, -webkit-transform 250ms 0s ease-in-out;
  transition: transform 250ms 0s ease-in-out, opacity 250ms 0s ease-in-out;
  transition: transform 250ms 0s ease-in-out, opacity 250ms 0s ease-in-out, -webkit-transform 250ms 0s ease-in-out;
}

.btn:hover, .btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .9;
}

.featured {
  background-color: #eee;
}

.heading {
  font-size: 3.5rem;
  font-weight: 900;
  color: #17353d;
  text-align: center;
  padding: 100px 0px;
}

@media (max-width: 767px) {
  .heading {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (max-width: 514px) {
  .heading {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.featured .item {
  width: 11rem;
}

.featured-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.featured-item:hover, .featured-item:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured-item:hover .featured-detail, .featured-item:focus .featured-detail {
  opacity: 1;
}

.featured-item::after {
  content: '';
  display: block;
  width: 180px;
  height: 180px;
  background: #2193b0;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}

@media (max-width: 1000px) {
  .featured-item::after {
    top: 4%;
  }
}

.featured-item .featured-detail {
  font-weight: 900;
  color: #17353d;
  margin-top: 30px;
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.featured-item .featured-detail span {
  display: block;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .featured-item .featured-detail {
    margin-top: 30px;
  }
}

.featured-item .price {
  margin-top: 40px;
}

@media (max-width: 1000px) {
  .featured-item .price {
    margin-top: 40px;
  }
}

.card {
  border-radius: 1rem;
  margin-bottom: 50px;
  padding: 50px;
  text-align: left;
}

@media (max-width: 977px) {
  .card {
    text-align: center;
  }
}

.card.card-1 {
  background: radial-gradient(#faa700, #e48d00);
}

.card.card-2 {
  background: radial-gradient(#fce4b3, #eac886);
}

.card.card-3 {
  background: radial-gradient(#6dd5ed, #2193b0);
}

.card .card-title {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.5rem;
  color: white;
}

@media (max-width: 767px) {
  .card .card-title {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (max-width: 514px) {
  .card .card-title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.card .card-specs {
  margin-top: 2.5rem;
  color: white;
  font-size: .85rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.card .card-image {
  width: 31rem;
  float: right;
  position: relative;
  left: 100px;
  bottom: -20px;
}

@media (max-width: 1089px) {
  .card .card-image {
    width: 25rem;
    bottom: -60px;
  }
}

@media (max-width: 977px) {
  .card .card-image {
    width: 100%;
    float: none;
    top: -70px;
    bottom: 0px;
    left: 0;
  }
}

.card .left {
  float: left;
  left: -100px;
}

@media (max-width: 977px) {
  .card .left {
    width: 100%;
    float: none;
    top: -70px;
    bottom: 0px;
    left: 0;
  }
}

.card .btn-danger {
  background-color: #a1173c;
}

.card .btn-black {
  background-color: #2f4858;
}

.card .btn-primary {
  background-color: #008951;
}
/*# sourceMappingURL=style.css.map */